@model IEnumerable<TESTEBACKEND.Models.Cliente>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Criar novo usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                        @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <!--
            <td>
                <a asp-action="Edit" asp-route-id="@item.CPF">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CPF">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CPF">Delete</a>
            </td>
            -->
        </tr>
}
    </tbody>
</table>
</body>
</html>
